@media only screen and (max-width: 600px) { /* Mobile Devices */ 
  .showOnPC{
    display: none;
  }

.showOnMobile{
    display: inline;
  }

  nav li{
    display: inline;
  }

  #nav ul{
    display: flex;
    align-items: center;
  }

  nav li a{
    margin-top: auto;
    font-size: small;
    padding: 4px 4px;
  }

  .hideOnMobile{
    display: none;
  }

  .contrastTextboxBackground {
    width: 90%;
    margin-top: 10px;
    margin: 0 auto;
  }

  .custombuttons{
    padding: 5% 5%;
  }

  #buttonsContainer{
    width: 90%;
    margin: 0 auto;
  }

  .outerContainer{
    display: inline;
  }

  .outerContainer img{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .sidebyside{
    display: block;
    width: 100%;
  }

  .containerDiv{
    display: flex;
    flex-direction: column-reverse;
  }

  .flipped{
    display: flex;
    flex-direction: column;
  }

  .blueTitle{
    padding: 1rem;
    margin: 0;
  }

  .paragraphText{
    width: 95%;
    font-size: x-large;
    text-align: center;
  }

  .textDiv{
    width: 95%;
    margin: 0 auto;
  }

  footer{
    width: 100%;
  }

  #outerFooterbarContainer{
    display: block;
  }

  #outerFooterbarContainer div{
    width: 100%;
  }

  .frontpageContainer{
    width: 95%;
    margin-top: 50%;
  }

  .infoSection{
    margin-top: 15rem;
    padding: 0;
  }

  .hamburger{
    display: inline;
    width: 10%;
    height: 10%;
    border: none;
    background: none;

    justify-self: right;
    align-self: center;
    float: right;
    margin-right: 3.5%;
  }

  .hamburger img{
    width: 100%;
    height: 100%;
  }

  #links a{
    display: none;
  }
  
  #newLinks a{
    display: block;
    text-decoration: underline;
    color: black;
    padding: 5px;
  }

  #newLinks a:hover{
    background-color: rgba(0,0,0,0.2);
  }

  #newLinks{
    background-color: white;
    position: absolute;
    right: 0%;
    border-radius: 0px 0px 5px 5px;
  }

  .volunteerInfoSection p{
    margin: 0 auto;
  }

  .arrangementsPage{
    margin-top: 10px;
  }

  .backgroundImage{
  width: 100%;
  height: 100%;
  }

  .contrastImageBox{
    margin-top: 10px;
  } 

  .workpls{
    margin: 0 auto;
    display: flex;
  }

  .outerPasswordBox{
    width: 90%;
  }

  .pagesTitle{
    margin: 0;
  }

  #socialsList{
    padding-left: 1rem;
    margin: 0;
  }

  ul{
    padding-left: 1rem;
    margin: 0;
  }

}