@media only screen and (max-width: 600px) { /* Mobile Devices */ 
  .showOnPC{
    display: none;
  }

.showOnMobile{
    display: inline;
  }

  nav li{
    display: inline;
  }

  #nav ul{
    display: flex;
    align-items: center;
  }

  nav li a{
    margin-top: auto;
    font-size: small;
    padding: 4px 4px;
  }

  .hideOnMobile{
    display: none;
  }

  .contrastTextboxBackground{
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .custombuttons{
    padding: 5% 5%;
  }

  #buttonsContainer{
    width: 90%;
    margin: 0 auto;
  }

  .outerContainer{
    display: inline;

  }

  .outerContainer img{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .sidebyside{
    display: block;
    width: 100%;
  }

  .containerDiv{
    display: flex;
    flex-direction: column-reverse;
  }

  .flipped{
    display: flex;
    flex-direction: column;
  }

  .blueTitle{
    padding: 5%;
  }

  .paragraphText{
    width: 95%;
    font-size: x-large;
    text-align: center;
  }

  .textDiv{
    width: 95%;
    margin: 0 auto;
  }

  footer{
    width: 100%;
  }

  #outerFooterbarContainer{
    display: block;
  }

  #outerFooterbarContainer div{
    width: 100%;
  }

  .frontpageContainer{
    width: 95%;
    margin-top: 50%;
  }

  .infoSection{
    margin-top: 50%
  }
}