@media only screen and (max-width: 600px) { /* Mobile Devices */ 
  .showOnPC{
    display: none;
  }

.showOnMobile{
    display: inline;
  }

  nav li{
    display: inline;
  }

  #nav ul{
    display: flex;
    align-items: center;
  }

  nav li a{
    margin-top: auto;
    font-size: small;
    padding: 4px 4px;
  }

  .hideOnMobile{
    display: none;
  }

  .contrastTextboxBackground{
    width: 85%;
    margin: 0 auto;
  }

  .custombuttons{
    padding: 5% 5%;
  }

  #buttonsContainer{
    width: 90%;
    margin: 0 auto;
  }
}